html * {
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  height: 100%;
}
nav {
  padding: 20px;
  margin-bottom: 50px;
}

h2 {
  font-weight: 700;
  font-size: 40px;
  color: white;
}

h5 {
  color: #0c0;
  font-weight: 600;
}

h6 {
  color: #2b6d91 !important;
}

a {
  text-decoration: none !important;
}

.navbar {
  border-bottom: 2px solid #0c0;
}

.navbar-brand {
  font-size: 30px;
}

.navbar-brand span {
  color: #0c0;
}

a {
  color: #0c0;
}

input[type="text"],
.input-group-text {
  font-size: 30px !important;
}

input,
select {
  border-radius: 0 !important;
  border-bottom: 2px solid #0c0 !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

.form-control:focus{
  border-color: #ced4da;
  box-shadow: none;
}

#inputQuantity {
  width: 200px;
}

#inputCoinName {
  width: 300px;
}

#fiatValue {
  width: 250px;
}

#equals {
  font-weight: 600;
  font-size: 30px;
}

#fiatValue,
.input-group-text {
  background-color: white;
  color: #0c0;
  font-weight: 600;
  overflow: hidden;
  border: none;
}

.awesomplete > ul {
  border-radius: 0 !important;
  border: 1px solid #0c0;
  background: white;
  font-size: 22px;
}
