html * {
  font-family: 'Montserrat', sans-serif;
}

.body-content,
.container {
  background-color: #333;
}

.container {
  padding-top: 50px;
  padding-bottom: 50px;
}
h2 {
  font-weight: 900;
  color: white;
}

h2 > span {
  color: orange;
}

h5 {
  color: orange;
  font-weight: 600;
}

h6 {
  color: #2b6d91 !important;
}

a {
  text-decoration: none !important;
}
nav {
  padding: 20px;
  background-color: #333;
}

.navbar {
  background-color: #191919 !important;
  border-bottom: 2px solid orange;
}

a {
  color: orange;
}

input,
select {
  border-radius: 0 !important;
  border-bottom: 2px solid orange !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

.form-control:focus{
  border-color: #ced4da;
  box-shadow: none;
}

#fiatValue {
  background-color: white;
  color: #0c0;
  font-weight: 600;
  font-size: 1.5em;
  overflow: hidden;
}

#grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: minmax(200px, max-content);
  grid-gap: 50px;
  padding: 15px;
}

.card-img-top {
  width: 100% !important;
  height: max-content !important;
  object-fit: cover !important;
}

.navbar-brand{
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin:0 auto;
}

.card {
  border-radius: 0;
  border: none;
}

.awesomplete > ul {
  border-radius: 0 !important;
  border: 1px solid orange;
  background: white;
  font-size: 22px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}