<div class="container">
  <div class="row center-align">
    <div class="col s12">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="https://buildercdn.locomotivecms.com/attachments/b0609ad8de74f7310d0e8220b860df8893af7c9d/store/3b95f8fec3e01badea8532e7784973ec245f59e66b61d676aa7aa8499bdd/creative-office-new-1.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
          <p><a href="#">This is a link</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
    </div>
  </div>
</div>