<div class="container">
  <div class="row">
    <div class="col s12 m6 l6 xl3" id="userInput">
        <div class="input-field">
          <input onkeyup="calculatePrice()" type="text" id="inputCoinTicker" class="autocomplete">
          <label for="inputCoinTicker">Coin Name</label>
        </div>
        <div class="input-field">
          <input onkeyup="calculatePrice()" type="text" id="inputQuantity">
          <label for="inputQuantity">Coin Quantity</label>
        </div>
        <div class="input-field">
          <select onchange="calculatePrice()" id="inputCurrency">
            <option value="USD">USD</option>
            <option value="GBP">GBP</option>
            <option value="EUR">EUR</option>
            <option value="JPY">JPY</option>
            <option value="CNY">CNY</option>
          </select>
          <label for="inputCurrency">Currency</label>
        </div>
        <div class="input-field">
          <div class="prefix" id="currencySymbol"></div>
          <input id="fiatValue" type="text" disabled>
        </div>
    </div>
  </div>
</div>