<div class="container">
  <div class="row">
    <div class="col s12 m6 l6 xl3" id="userInput">
        <label>Coin Name</label>
        <input onkeyup="calculatePrice()" type="text" id="inputCoinTicker">
        <br>
        <label>Coin Quantity</label>
        <input onkeyup="calculatePrice()" type="text" id="inputQuantity">
        <br>
        <div class="input-field">
          <select onchange="calculatePrice()" id="inputCurrency">
            <option value="USD">USD</option>
            <option value="GBP">GBP</option>
            <option value="EUR">EUR</option>
            <option value="JPY">JPY</option>
            <option value="CNY">CNY</option>
          </select>
          <label>Currency</label>
        </div>
        <div class="input-field">
          <div class="prefix" id="currencySymbol"></div>
          <input id="fiatValue" type="text" disabled>
        </div>
    </div>
  </div>
</div>