<div class="container">
  <div class="row text-center justify-content-center">
    <div class="col-sm-12 col-md-8 col-lg-12">
      <div class="card box-shadow">
        <div class="card-body">
          <div class="form-row">
            <div class="form-group col">
              <input onkeyup="calculatePrice()" id="inputCoinName" type="text" value="BTC" class="form-control form-control-lg text-center awesomplete" placeholder="Coin Name">
            </div>
            <div class="form-group col">
              <input onkeyup="calculatePrice()" id="inputQuantity" type="number" value="1" class="form-control form-control-lg text-center" placeholder="Quantity">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-2 offset-md-2">
              <select onchange="calculatePrice()" id="inputCurrency" class="custom-select custom-select-lg">
                <option value="USD" class="text-center">USD</option>
                <option value="GBP" class="text-center">GBP</option>
                <option value="EUR" class="text-center">EUR</option>
                <option value="JPY" class="text-center">JPY</option>
                <option value="CNY" class="text-center">CNY</option>
              </select>
            </div>
            <div class="form-group col-8">
              <div id="fiatValue"></div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>


    <!-- News Feed -->
    <div class="row justify-content-center mt-5">
      <div id="grid">
        <div class="card">
          <img class="card-img-top" src="https://images.cryptocompare.com/news/themerkle/8cP9Y0ecP38.png">
          <div class="card-body">
            <h5 class="card-title">Ethereum Bleed Continues, Price Drops Below $450</h5>
            <h6 class=" card-subtitle mb-3">Coindesk</h6>
            <p>Iconiq Lab will soon launch two new branches in New York and Singapore, keeping more news for BlockShow Europe 2018 #BLOCKSHOW</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="https://images.cryptocompare.com/news/themerkle/8cP9Y0ecP38.png">
          <div class="card-body">
            <h5 class="card-title">Ethereum Bleed Continues, Price Drops Below $450</h5>
            <h6 class="card-subtitle mb-3">Coindesk</h6>
            <p>Iconiq Lab will soon launch two new branches in New York and Singapore, keeping more news for BlockShow Europe 2018 #BLOCKSHOW</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="https://images.cryptocompare.com/news/ccn/cb04000Aww0.jpeg">
          <div class="card-body">
            <h5 class="card-title">Ethereum Bleed Continues, Price Drops Below $450</h5>
            <h6 class="card-subtitle mb-3">Coindesk</h6>
            <p>Iconiq Lab will soon launch two new branches in New York and Singapore, keeping more news for BlockShow Europe 2018 #BLOCKSHOW</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="https://images.cryptocompare.com/news/themerkle/8cP9Y0ecP38.png">
          <div class="card-body">
            <h5 class="card-title">Ethereum Bleed Continues, Price Drops Below $450</h5>
            <h6 class="card-subtitle mb-3">Coindesk</h6>
            <p>Iconiq Lab will soon launch two new branches in New York and Singapore, keeping more news for BlockShow Europe 2018 #BLOCKSHOW</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="https://images.cryptocompare.com/news/themerkle/9t82$xG3mGA.jpeg">
          <div class="card-body">
            <h5 class="card-title">Ethereum Bleed Continues, Price Drops Below $450</h5>
            <h6 class="card-subtitle mb-3">Coindesk</h6>
            <p>Iconiq Lab will soon launch two new branches in New York and Singapore, keeping more news for BlockShow Europe 2018 #BLOCKSHOW</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="https://images.cryptocompare.com/news/themerkle/9t82$xG3mGA.jpeg">
          <div class="card-body">
            <h5 class="card-title">Ethereum Bleed Continues, Price Drops Below $450</h5>
            <h6 class="card-subtitle mb-3">Coindesk</h6>
            <p>Iconiq Lab will soon launch two new branches in New York and Singapore, keeping more news for BlockShow Europe 2018 #BLOCKSHOW</p>
          </div>
        </div>
      </div>
    </div>
</div>