html * {
  font-family: 'Montserrat', sans-serif;
}

nav {
  margin-bottom: 50px;
}

.brand-logo {
  margin-left: 12px;
  font-weight: 600;
}
.material-icons {
  color: black;
}

.row {
  margin: 0 auto;
}

